{TITLE} > <a href="#"><span id="{LINK_ID}" class="ilubTranslatedStringWithDefaults">{LINK_TEXT}</span></a>
<script type="text/javascript">
	(function () {
		$("#{LINK_ID}").click( function(e) {
			$("#{POSTVAR}").val("{DEFAULT_TEXT}");

			// If TinyMCE is activated, we need to set the body of an iframe
			var iframe = $("#{POSTVAR}_ifr");
			if ($(iframe).prop("tagName") && $(iframe).prop("tagName").toLowerCase() == "iframe") {
				iframe.contents().find("#tinymce").html("{DEFAULT_TEXT}");
			}
			e.preventDefault();
		} );
	}());
</script>