<!-- BEGIN row -->
<tr class='{CSS_ROW} fsxSortable'>
	<td class="std small"><img src="./Customizing/global/plugins/Services/Repository/RepositoryObject/SelfEvaluation/templates/images/move.png"><input type="hidden" name="position[]" value="{ID}"/></td>
	<td class="std small"><a href="{EDIT_LINK}">{TITLE}</a></td>
	<td class="std small">{DESCRIPTION}</td>
	<td class="std small"><a href='{QUESTIONS_LINK}'>{COUNT_QUESTIONS}</a></td>
	<td class="std small"><a href='{FEEDBACK_LINK}'>{COUNT_FEEDBACKS}</a></td>
	<td class="std small"><a href='{FEEDBACK_LINK}'><img src="{FEEDBACK_STATUS}"></a></td>
	<td class="std small">{ACTIONS}</td>
</tr>
<!-- END row -->