<script type="text/javascript">
	(function ($) {
		$.fn.{FUNCTION_NAME} = function (link) {
			var replacer = new RegExp('amp;', 'g');
			link = link.replace(replacer, '');

			$("#result").load(link + ' div.ilTabContentInner', function () {
				$('#fsxOverlay').fadeIn(300);
				$.getScript( link, function( data, textStatus, jqxhr ) {
					console.log( data ); // Data returned
					console.log( textStatus ); // Success
					console.log( jqxhr.status ); // 200
					console.log( "Load was performed." );
				});
			});

		}
	})(jQuery);

	$(document).keyup(function (e) {
		if (e.keyCode == 27) {
			$('#fsxOverlay').fadeOut(300);
		}
	});


</script><!-- BEGIN addnew -->
<script type="text/javascript">
	$(window).keydown(function (e) {
		if (e.metaKey && e.keyCode == 78) {
			// window.open('{ADD_NEW}');
			$.fn.{FUNCTION_NAME}('{ADD_NEW}');
			event.preventDefault();
			return false;
		}
	});
</script><!-- END addnew -->
<style>
	#fsxOverlay {
		width:            100%;
		height:           100%;
		position:         absolute;
		top:              0;
		left:             0;
		display:          none;
		background-image: url("/Customizing/global/plugins/Services/Repository/RepositoryObject/SelfEvaluation/templates/images/overlay.png");
		z-index:          9999;
	}

	#result {
		width:            500px;
		margin-left:      auto;
		margin-right:     auto;
		margin-top:       300px;
		/*background-color: green;*/
	}

	#result div.ilForm, #result div.ilTableOuter {
		-webkit-box-shadow: 0px 4px 25px #000000; /* webkit browser*/
		-moz-box-shadow:    0px 4px 25px #000000; /* firefox */
		box-shadow:         0px 4px 25px #000000;
	}
</style>
<div style="display: block;">
	{FORM}
</div>
<div id="fsxOverlay">
	<div id="result"></div>
</div>
