.ilFrame div.fsxMainHeader {
    margin-top: -50px;
    height: 155px;
}

.fsxLngSelect, .ilMainMenuSearch, #LanguageSwitch {
    display: none;
}

.fsxMainMenu {
    display: none;
}

#TAXtabs {
    display: none;
}

@media (max-width: 450px) {
    #fsxMainLogo {
        display: none;
    }
}