* {
    box-sizing:  	content-box;
}

a.chart_toggle{
    padding-top: 5px;
}

.bar_chart{
    padding-top: 15px;
}

.feedback{
    width: 100%;
}

.panel-statistics{
    font-size: small;
    font-style: italic;
}