* {
    box-sizing:  	content-box;
}

h4 {
  margin-top: 25px;
}

.block-header{
    border-bottom: 2px solid  #a1a1a1;
    margin-bottom: 20px;
}
.table > tbody > tr td.ilUnitEven,.table > tbody > tr td.ilUnitOdd{
    text-align: center;
    padding-left: 2px;
    padding-right: 2px;
}

.ilUnitEven {
    background-color: #747474;
}

.ilUnitOdd {
    background-color: #cbcbcb;
}


.block-question{
    border-bottom:  1px solid  #a1a1a1;

}

.rating, .block-commands{
    padding-right: 0px;
    padding-left: 0px;
}
.table {
    margin-bottom: 0px;
    table-layout: fixed;
}

.knob-col{
    padding-right: 0;
}

.self-evaluation-presentation * {
    box-sizing:  	border-box;
}
.table > tbody > tr > td{
    padding: 0px;
    padding-right: 5px;
    border-top: 0px;
    witdh: 20%;
    word-wrap: normal;
}

.knob{
    float: right;
}