@media print {
	body {
		background-color: white;
		background-image: none;
	}

	.bar_chart, .spider_chart, .spider_chart {
		page-break-after: always;
	}


	.feedback_block_abbreviation:before { content:"[" }
	.feedback_block_abbreviation:after { content:"]" }

	div.ilMainHeader, div.il_HeaderOuter, div.ilPermaLink, div.il_Footer, div.ilTopBar, .breadcrumb, ul#ilTab {
		display: none;
	}

	#mainspacekeeper, div.ilTabContentOuter {
		box-shadow: none;
		padding:    0;
		margin:     0;
	}

	#mainspacekeeper {
		background-color: white;
	}

	@page {
		size:   29.7cm 21.00cm;
		margin: 2cm;
	}
}