
<div id="fb_overview">
	<a href="#" class="chart_toggle btn btn-sm btn-default"><span class="bar_chart">{SHOW_SPIDER_CHART}</span><span class="spider_chart">{SHOW_BAR_CHART}</span></a>
	<div class="bar_chart">{OVERVIEW_BAR_CHART}</div>
	<div class="spider_chart">{OVERVIEW_SPIDER_CHART}</div>
	<script type="text/javascript">
		il.xsevChartToggle('fb_overview');
	</script>
</div>

<!-- BEGIN feedback -->
<div class="feedback" id="{FEEDBACK_ID}" style="width:{WIDTH}px;}">
	<h1 class="feedback_block_title">{BLOCK_TITLE}<!-- BEGIN block_abbreviation --> <span class="feedback_block_abbreviation">{BLOCK_ABBREVIATION}</span><!-- END block_abbreviation --></h1>
	<p>{BLOCK_DESCRIPTION}</p>
	<a href="#" class="chart_toggle btn btn-sm btn-default"><span class="bar_chart">{SHOW_SPIDER_CHART}</span><span class="spider_chart">{SHOW_BAR_CHART}</span></a>
	<div class="bar_chart">{BAR_CHART}</div>
	<div class="spider_chart">{SPIDER_CHART}</div>
	<script type="text/javascript">
		il.xsevChartToggle('{FEEDBACK_ID}');
	</script>
	<br>

	<h3>{FEEDBACK_TITLE}</h3>
	<p>{FEEDBACK_BODY}</p>
</div>
<!-- END feedback -->
