<div class="fsx_slider">
    <script type="text/javascript">
        $(document).ready(function () {
            var autocorrect = false;
            $('div#{POSTVAR}').slider({
                range: true,
                min: {MIN},
                max: {MAX},
                values: [
                    {VAL_FROM},
                    {VAL_TO}
                ],


                slide: function (event, ui) {
                    $('#amount').val('' + ui.values[0] + '{UNIT} - ' + ui.values[1] + '{UNIT}');
                    $('#{POSTVAR}_from').val(ui.values[0]);
                    $('#{POSTVAR}_to').val(ui.values[1]);
                },
                change: function (e, ui) {
                    var link = '{AJAX}';
                    var replacer = new RegExp('amp;', 'g');
                    link = link.replace(replacer, '') + '&from=' + ui.values[0] + '&to=' + ui.values[1] + '&start_value=' + ui.values[0];

                    $.getJSON(link, function (data) {
                        if (!data.check) {
                            $('#warn_{POSTVAR}').slideDown(200);
                            $('#warn_{POSTVAR}').parent('div.fsx_slider').addClass('slider_warning', 400);
                            $('#{POSTVAR}').slider('values', [data.next_from, data.next_to]);
                            $('#{POSTVAR}_from').val(data.next_from);
                            $('#{POSTVAR}_to').val(data.next_to);
                            $('#amount').val('' + data.next_from + '{UNIT}' + ' - ' + data.next_to + '{UNIT}');
                            autocorrect = true;
                        } else {
                            if (autocorrect) {
                                $('#warn_{POSTVAR}').delay(7000).slideUp(200);
                                $('#warn_{POSTVAR}').parent('div.fsx_slider').delay(7000).removeClass('slider_warning', 400);
                                autocorrect = false;
                            }

                        }
                    });

                }
            });
            $('#amount').val('' + $('#{POSTVAR}').slider('values', 0) + '{UNIT}' +
                ' - ' + $('#{POSTVAR}').slider('values', 1) + '{UNIT}');
        });
    </script>
    <p>
        <input type='text' id='amount' disabled/>
        <input type="hidden" name="{POSTVAR}_from" id="{POSTVAR}_from" value="{VAL_FROM}">
        <input type="hidden" name="{POSTVAR}_to" id="{POSTVAR}_to" value="{VAL_TO}">
    </p>

    <div class="fsx_slider_warning" id="warn_{POSTVAR}" style="display: none;">
        {WARNING}
    </div>
    <div id='{POSTVAR}'></div>
</div>