<!-- BEGIN row -->
<tr class='{CSS_ROW} fsxSortable'>
    <td class="std small"><img
            src="./Customizing/global/plugins/Services/Repository/RepositoryObject/SelfEvaluation/templates/images/move.png"><input
            type="hidden" name="position[]" value="{ID}"/></td>
    <td class="std small"><a href="{EDIT_LINK}">{TITLE}</a></td>
    <td class="std small">{ABBREVIATION}</td>
    <td class="std small">{DESCRIPTION}</td>
    <td class="std small">
        <!-- BEGIN question_count_with_link -->
        <a href='{QUESTIONS_LINK}'>{COUNT_QUESTIONS}</a>
        <!-- END question_count_with_link -->
        <!-- BEGIN question_count -->
        {COUNT_QUESTIONS}
        <!-- END question_count -->
    </td>
    <td class="std small">
        <!-- BEGIN feedback_count_with_link -->
        <a href='{FEEDBACK_LINK}'>{COUNT_FEEDBACKS}</a>
        <!-- END feedback_count_with_link -->
        <!-- BEGIN feedback_count -->
        {COUNT_FEEDBACKS}
        <!-- END feedback_count -->
    </td>
    <td class="std small">
        <!-- BEGIN status_img_with_link -->
        <a href='{FEEDBACK_LINK}'><img class="icon_ok" src="{FEEDBACK_STATUS}"></a>
        <!-- END status_img_with_link -->
        <!-- BEGIN status_img -->
        <img class="icon_ok" src="{FEEDBACK_STATUS}">
        <!-- END status_img -->
    </td>
    <td class="std small">{ACTIONS}</td>
</tr>
<!-- END row -->