div.new_block, div.block {
	/*width: 60%;*/
	clear: both;
}

div.new_block:hover {
	background-image: url("images/drop_back_active.png");
	border-color:     #000000;
}

div.block {
	/*background-color: red;*/
	margin:     0;
	height:     30px;
	position:   relative;
	clear:      both;
	min-height: 60px;
}

div.innerBlock {
	/*background-color: blue;*/
	float: left;
}

div.blockActions {
	margin-top: 15px;
	position:   relative;
	float:      right;
}

ul.matrix, ul.matrix li {
	margin:  0px;
	display: block;
	padding: 0px !important;
	height:  20px;
}

ul.matrix {
	border-top: 1px dotted #E8E8E8;
	border-bottom: 1px dotted #E8E8E8;

}

ul.matrix li {
	float:      left;
	/*width:      100px;*/
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

ul.matrix.header {
	background-color: #E8E8E8;
	border:           none;
	font-weight:      bold;
}

li.col2 {
	background-color: #E8E8E8;
}

div.question {
	margin-top: -7px;
}

div.blockInfo {
	margin-bottom: 4px;
}

#form_evaluation_form div.ilForm {
	width: 1024px;
}

#form_evaluation_form div.ilFormOption {
	width: 300px;
}