div.new_block, div.block {
	/*width: 60%;*/
	clear: both;
}

div.new_block:hover {
	background-image: url("images/drop_back_active.png");
	border-color:     #000000;
}

div.block {
	/*background-color: red;*/
	margin:     0;
	height:     30px;
	position:   relative;
	clear:      both;
	min-height: 60px;
}

div.innerBlock {
	/*background-color: blue;*/
	float: left;
}

div.blockActions {
	margin-top: 15px;
	position:   relative;
	float:      right;
}

ul.matrix, ul.matrix li {
	margin:  0px;
	display: block;
	padding: 0px !important;
	height:  20px;
}

ul.matrix {
	border-top:    1px dotted #E8E8E8;
	border-bottom: 1px dotted #E8E8E8;

}

ul.matrix li {
	float:          left;
	/*width:      100px;*/
	list-style:     none;
	text-align:     center;
	vertical-align: middle;
}

ul.matrix.header {
	background-color: #E8E8E8;
	border:           none;
	font-weight:      bold;
}

li.col2 {
	background-color: #E8E8E8;
}

div.question {
	margin-top: -7px;
}

div.blockInfo {
	margin-bottom: 4px;
}

#form_evaluation_form div.ilForm {
	width: 1024px;
}

#form_evaluation_form div.ilFormOption {
	width: 300px;
}

div#feedback_overview {
	height:       50px;
	width:        100%;
	border:       1px #808080 solid;
	margin:       0;
	padding:      0;
	/*margin-right: -1px;*/
	position:     relative;
	z-index: 100;
	/*-webkit-border-radius: 10px;*/
	/*-moz-border-radius: 10px;*/
	/*border-radius: 10px;*/
}

div.feedback_ov_item, div.feedback_ov_item_blank {
	background-color: #CEE6FF;
	height:           50px;
	border-right:     1px #808080 solid;
	margin: 0;
	padding: 0;
	text-align: center;
	line-height: 50px;
	z-index: 10;
	float:            left;

}

div.feedback_ov_item_blank {
	background-color: #E8E8E8;
}


div.slider_warning {
	background-color: #FFBEAE;
}

div.fsx_slider {
	padding: 8px;
}

div.fsx_slider_warning {
	margin-bottom: 12px;
}
h1.feedback_block_title {
	/*background-color: #D3D3D3;*/
	border-bottom: 1px #808080 dotted;
}

div.feedback {
	background-color: #FDFDFD;
	border: 1px #808080 dotted;
	margin: 12px;
	float: left;
	padding: 20px;
}