<!-- BEGIN block_row --><!-- BEGIN new_block --><a class='newBlock' href="{NEW_BLOCK_HREF}">
	<div class="il_droparea new_block">
		<img src="./templates/default/images/ed_plus.png" border="0" width="30" height="12">
	</div>
</a><!-- END new_block --><!-- BEGIN block -->
<div class="block">
	<div class="innerBlock">
	<h1>{BLOCK_TITLE}</h1>
	<p>{BLOCK_DESCRIPTION}</p>
	</div>
	<div class='blockActions'>{ACTIONS}</div>
</div><!-- END block --><!-- END block_row --><!-- BEGIN new_block_bottom -->
<a class='newBlock' href="{NEW_BLOCK_HREF}">
	<div class="il_droparea new_block">
		<img src="./templates/default/images/ed_plus.png" border="0" width="30" height="12">
	</div>
</a><!-- END new_block_bottom -->